@tailwind base;
@tailwind components;
@tailwind utilities;


.hamburgure{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;


}
.hamburgure-top,
.hamburgure-bottom,
.hamburgure-middle {
 position: absolute;
 top: 0;
 left: 0;
 width: 24px;
 height: 2px;
 background: #000000;

}
.hamburgure-middle{
    transform: translateY(7px);
}
.hamburgure-bottom{
    transform: translateY(14px);
}